<<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Update student</title>
</head>
<body>
  <form action="/update_students" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="name" placeholder="New_Name">
    <input type="text" name="campus" placeholder="New_campus">
    <input type="text" name="age" placeholder="New_age">
    <button type="submit">Save</button>
  </form>
</body>
</html>